body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#repoList {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#idRepoList td,
#idRepoList th {
    border: 1px solid #ddd;
    padding: 8px;
}

#idRepoList tr:nth-child(even) {
    background-color: #f2f2f2;
}

#idRepoList tr:hover {
    background-color: #ddd;
}

#idRepoList tr:active {
    background-color: rgb(122, 87, 87);
}

#idRepoList th {
    padding-top: 12px;
    padding-bottom: 12px;
    /* text-align: left; */
    background-color: rgb(128, 149, 153);
    color: white;
}


/* ------------- scrolling ---------------- */

body,
header,
section,
footer,
div {
    /* Change this to a 0 to get rid of scroll bar */
    border: 2px dotted grey;
    margin: 0px;
}

body {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

header {
    flex: 0 1 auto;
}

section {
    flex: 1 1 auto;
}

footer {
    flex: 0 1 20px;
    text-align: right;
}


/* ------------ table scrolling -------------- */

#idRepoList {
    overflow-y: auto;
    height: 100px;
}

#idRepoList thead th {
    position: sticky;
    top: 0;
}


/* Just common table stuff. Really. */

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px 16px;
}

th {
    background: #eee;
}


/* ------------- Spacing ---------------- */

.space {
    padding: 6px;
    margin: 10px;
}


/* ------------- Model ---------------- */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    /* margin: auto; */
    padding: 20px;
    border: 1px solid #888;
    /* width: 80%; */
    display: block;
    margin: 0 auto;
}

.modal-content img {
    display: block;
    margin: 0 auto;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}